<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanshenrik.gronsleth_billdivider" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AddDiners"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DinerBill"
            android:label="@string/title_activity_diner_bill"
            android:parentActivityName=".AddDiners" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddDiners" />
        </activity>
        <activity
            android:name=".AddItems"
            android:label="@string/title_activity_add_items"
            android:parentActivityName=".AddDiners" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddDiners" />
        </activity>
        <activity
            android:name=".CompleteBill"
            android:label="@string/title_activity_complete_bill"
            android:parentActivityName=".AddDiners" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddDiners" />
        </activity>
    </application>

</manifest>
